<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>权限管理脚手架</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
